
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

@font-face {
    font-family: "Clash";
    src: url('../font/clash/ClashGrotesk_Complete/Fonts/TTF/ClashGrotesk-Variable.ttf');
}
@font-face {
    font-family: "Arlita";
    src: url('../font/arlita/ARLETA.ttf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: "Roboto", sans-serif; */
    background-image: url('../images/download\ \(26\).svg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    /* background-color: #000000; */
    overflow-x: hidden;
}
li{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
:root{
    --yellow:#DBC761;
}
.container{
    max-width:1520px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
h2{
    font-family: "Arlita";
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
    text-transform: capitalize;
}

.sub-heading2{
   display: flex;
   justify-content:space-between;
   align-items: center; 
}
.sub-content2{
   background: linear-gradient(168deg,#F1E28C,#090601,#F1E28C);
    border-radius: 16px;
    padding: 1px;   
}
.sub-content2 > span{
    width: 100%;
    height: 100%;
    padding: 14px 58px;
    background: #090601;
    text-wrap: nowrap;
    border-radius: 16px;
    font-size: 22px;
    text-transform: capitalize;
    font-family: "Clash";
}

/*========
 navber
 ========= */
.navbar{
    background-color: rgba(0, 0, 0, 0.875);
}
.nav_brand img{
    /* max-width: 169px; */
    width: 70px;
}
.nav_list{
    font-family: "clash";
    font-size: 20px;
}
.nav_list li{
    padding: 0 25px;
}
.nav_list a{
text-transform: capitalize;
 color: white;
}
.nav_list a:hover{
    color: #DBC761;
    position: relative;
}
.nav_list a:hover::after{
    content: "";
    background: url('../images/Group\ 6330.svg');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 18px;
    margin-left:-8px;
}
.nav_list a:hover::before{
    content: "";
    background: url('../images/Group\ 6329.svg');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    /* margin-top: 13px; */
    margin-left:-7px;   
}
.nav_icon img{
    width: 35px;
    padding: 5px;
}
.nav_icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_list .active{
    color: #DBC761 !important;
    position: relative;
}

.nav_list .active::after{
    content: "";
    background: url('../images/Group\ 6330.svg');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 18px;
    margin-left:-8px;
}
.nav_list .active::before{
    content: "";
    background: url('../images/Group\ 6329.svg');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    /* margin-top: 13px; */
    margin-left:-7px;   
}

.offcanvas {
  flex-direction: row !important;
}


   .nav_icon2 img{
    width: 35px;
     padding:4px;
    display: none;
   }
   .nav_icon2{
    display: flex;
    justify-content: center;
    align-items: center;
  margin-left: auto;
   margin-right: 10px;
   }

   .navbar-toggler {
  position: relative;
  z-index: 1099;
  padding: 0;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler.active span,
.navbar-toggler::after,
.navbar-toggler::before {
  transition: 0.5s linear;
}

.navbar-toggler.active::after {
  display: none;
}

.navbar-toggler.active span {
  transform: rotate(45deg) translateX(-7px);
}

.navbar-toggler.active::before {
  transform: rotate(-45deg) translateX(-5px);
}

.navbar-toggler::after,
.navbar-toggler::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: var(--yellow);
}

.navbar-toggler::before {
  top: 3px;
  left: 0;
}

.navbar-toggler::after {
  bottom: -4px;
  left: 0;
}

.bg-light {
  height: 2px;
  width: 30px;
  background: var(--yellow) !important;
}


/*========== 
banner
============= */
.banner{
    background-color: rgba(0, 0, 0, 0.581);
    background-image: url('../images/Mask\ group\ \(33\).png');
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 90vh; */
    padding-top: 200px;
    padding-bottom: 200px;
}
h1{
    font-family: "Arlita";
    max-width: 700px;
    width: 100%;
    font-size: 80px;
    font-weight: bold;
    text-transform: capitalize;
}
.ban_para{
font-family: "Clash";
 max-width: 600px;
 width: 100%;  
 font-size: 20px; 
 padding-top: 15px;
 text-transform: capitalize;
}
.ban_bt a{
    border-radius: 50px;
    color: var(--yellow);
    border: 2px solid white;
    padding: 10px 31px;
    font-size: 22px;
    text-transform: capitalize;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.827);
}
.ban_bt a:hover{
    color: white;
}
.ban_icon{
    max-width: 25px;
}

/*=============
 Aviation club
 ============== */
.club{
    background-color: rgba(0, 0, 0, 0.733);
    padding-top: 50px;
    padding-bottom: 50px;
}

.heading_bt{
    border: 1px solid var(--yellow);
    border-radius: 8px;
    padding: 7px 27px;
    color: white;
    text-transform: capitalize;
}

.sub-heading{
    width: 276px;
    height: 59px;
    background: linear-gradient(168deg,#F1E28C,#090601,#F1E28C);
    border-radius: 16px;
    padding: 1px;
    overflow: hidden;
    margin: 0 auto;
      text-transform: capitalize;
}
.sub-heading > .sub-content{
    height: 100%;
    width: 100%;
    font-size: 20px;
    background: #090601;
    border-radius: 16px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-family: "Clash";
}

.title2{
     font-family: "Arlita";
    font-weight:bold;
    max-width: 700px;
    width: 100%;
    font-size: 60px;
    line-height: 1;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    text-transform: capitalize;
}
.jets{
    color: var(--yellow);
}
.club_img img{
    border-radius: 15px;
}
.club-content{
    max-width: 1204px;
    margin: auto;
    padding: 23px 25px;
     margin-top: 80px;
    border-radius: 30px;
    background: rgba(43, 43, 43, .23);
    overflow: hidden;
     box-shadow: 0 0 5px var(--yellow); 
    position: relative;
}


.play-btn{
  width: 90px;
    height: 90px;
    background: rgba(255, 255, 255, .1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*========
 Private jets
 ========== */
.private_jets{
     background-color: rgba(0, 0, 0, 0.789);
    padding-bottom: 100px;
    text-align: center;
}
.private_jets h2{
    font-family: "Arlita";
  font-weight:bold;
   max-width: 650px;
    width: 100%;
    font-size: 60px;
    line-height: 1;
    margin: 0 auto;
    padding-top: 25px;  
}
.jet_para{
    font-family:"Clash";
    max-width: 479px;
    width: 100%;
    font-size: 22px;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 1.2;
}
/* .pv_jet{
    position: relative;
}

 .jets_img img{
    max-width: 450px;
    border-radius: 20px; 
 }
 .jets_img{
    text-align: center;
 }
 .capacity{
  padding-top: 10px;
  border: 1px solid var(--yellow);
  border-radius: 20px;
  text-transform: capitalize;
  margin-top: -115px;
  background-color: black;
  position: relative;
  z-index: 10;
 }
 .capacity h4{
 font-size: 30px;
 } */
 .jet_bt a{
    border-radius: 50px;
    color: white;
    border: 1px solid var(--yellow);
    padding: 10px 31px;
    text-transform: capitalize;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.827);
 }
 .jet_bt a:hover{
    color: var(--yellow);
 }
 .jet_bt2{
    margin-top: 120px;
 }
 .jet_col{
     width: 30.75%;
     margin: 0 auto;
    /* margin-top: 60px; */
 }
 
 .card > img{
    border-radius: 26px;
   /* max-width: 450px; */
}
.card{
    /* background-color: black; */
    text-align: center;
    border: none;
    max-width:451px;
    height: 554px;
    position: relative;
    background: transparent;
    margin-top: 100px;
}
.card-content{
    position: absolute;
    background: black;
    bottom: -60px;
    left: 0;
    right: 0;
    padding: 35px 0 77px;
    text-align: center;
    color: white;
    border-radius: 26px;
    border: 1px solid rgba(219,199,97,37%);
}
.card-content > h3{
    font-family: "Arlita";
    font-size: 30px;
    font-weight: bold;
}
.card-content > p{
    font-family:"Clash";
    font-size: 18px;
}
.card-content > a{
    color: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border: 1px solid rgba(219,199,97,37%);
    border-radius: 36px 36px 0 0;
    position: relative;
}
.card-content > a > span{
    padding: 16px 26px;
    border: 1px solid rgba(219,199,97,37%);
    border-radius: 50px;
    font-family:Arial, sans-serif;
    box-shadow: 0 30px 0 black;   
}

.card-content a::after{
content: "";
height: 36px;
width: 36px;
background: black;
position: absolute;
bottom: -1.5px;
right: -36px;
border: 1px solid rgba(219,199,97,37%);
border-width:0 0 1px 1px;
border-radius: 0 0 0 22px;
box-shadow:-8px 16px 0 black ;
pointer-events: none;
}

.card-content a::before{
content: "";
height: 36px;
width: 36px;
background: black;
position: absolute;
bottom:-2px;
left: -36px;
 border: 1px solid rgba(219,199,97,37%);
 border-width:0 1px 1px 0;
 border-radius: 0 0 22px 0;
 box-shadow:8px 16px 0 black ;
 pointer-events: none;
}

 /*===========
  Services
  ============= */
.service{
     background-color: rgba(0, 0, 0, 0.874);
    padding-bottom: 50px;
}
 .ser_para{
    max-width: 639px;
    width: 100%;
    font-size: 22px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    line-height: 1.2;
}
.ser_row{
    border: 1px solid #352c03;
    border-radius: 20px;
    padding: 50px 30px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ser_bt{
    border: 1px solid var(--yellow);
    border-radius: 8px;
    padding: 5px 44px;
    color: white;
    text-transform: capitalize;  
}
.ser_bt:hover{
    color:var(--yellow);
}
.ser_para2{
    max-width: 540px;
    width: 100%;
    font-size: 23.3px;
    text-transform: capitalize;
    line-height: 1.3;
    margin: 0 auto;
}

.ser_img img{
    max-width: 673px;
    /* width: 100%; */
    border-radius: 30px;
}
.ser_col{
    width: 39.34%;
}
.ser_col2{
    width:48.77%;
}

/*===========
 Special offer
 ============ */
.offer{
     background-color: rgba(0, 0, 0, 0.944);
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: capitalize;
}


.offer_row{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
}
.offer_col{
    border-bottom: 1px solid  #352c03;
    margin: 0 15px;
}
.offer_bt a{
  border-radius: 50px;
    color: white;
    border: 1px solid var(--yellow);
    padding: 10px 23px;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.827);   
}
.offer_bt a:hover{
    color: var(--yellow);
}
.offer_row2{
  display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;   
   border: 1px solid  #352c03;
 border-radius: 50px;
 padding: 10px 0;
}

/*===========
 Our Team
 ============ */
.team{
     background-color: rgba(0, 0, 0, 0.934);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.team h2{
    font-family: "Arlita";
    font-weight: bold;
   max-width: 500px;
    width: 100%;
    font-size: 60px;
    line-height: 1;
    margin: 0 auto;
    padding-top: 25px;  
}
.team1{
    border: 1px solid #352c03;
    border-radius: 20px;
    border-top: none;
    min-height: 580px;
    padding: 0 10px;
}
.team_img img{
    max-width: 626px;
    border-bottom: 1px solid  #6b5b17;
    border-radius: 300px;
}
.team_img2 img{
    max-width: 226px;
}


  .swiper {
      width: 100%;
      height: 100%;
     
    }

    .swiper-slide { 
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
    }

    /*=============
     Testimonials
     =============== */
    .testimonial{
         background-color: rgba(0, 0, 0, 0.815);
        padding-top: 50px;
        padding-bottom: 50px;
        text-transform: capitalize;
    }
    .t-monial{
        background-color: black;
    border: 2px solid var(--yellow);
    margin-top: -20px;
    border-radius: 20px;
    border-bottom: none;
    padding: 50px 30px;
    }
    .tes_row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .testi_img img{
        max-width: 676px;
        border-radius: 50%;
    }
    .testi_para{
        border: 1px solid var(--yellow);
        border-radius: 20px;
        padding: 30px;
        margin-top: 50px;
    }
   .testi_para p{
    max-width: 519px;
    width: 100%;
    font-size: 18px;
    line-height: 1.2;
   } 
   .testi_img2 img{
    max-width: 56px;
    border-radius: 50px;
   }
   .testi_head2{
    font-size: 18px;
   }
   .testi_para2{
    font-size: 14px;
   }

   .testimonial h2{
    font-family: "Arlita";
    font-weight: bold;
     max-width: 615px;
    width: 100%;
    font-size: 59px;
    line-height: 1;
    margin: 0 auto;
    /* text-align: center; */
   margin-top: 25px; 
   margin-bottom: 30px;
   }

   .testi_clint{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* background-image: url('../images/Group\ 1000005801.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover; */
  border: 1px solid var(--yellow);
  border-radius: 15px;
  padding: 15px;
   }
   .clint1 img{
    max-width: 99px;
    border-radius: 20px;
   padding-right: 10px;
   }
   .testi_clint h5{
    font-size: 20px;
   }
   .testi_clint p{
    max-width: 436px;
    width: 100%;
    font-size: 17px;
   }
   .testi_col{
    width: 40.46%;
   }
   .testi_col2{
     width: 44.60%;
   }
   .tes-para2{
    margin-top: 50px;
   }

   /* ============
   Lifestyle
   ================ */
   .lifestyle{
     background-color: rgba(0, 0, 0, 0.859);
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: capitalize;
   }
   .lifestyle h3{
    font-size: 200px;
    color: var(--yellow);
   }
   .year{
    font-size: 60px;
   }
   .lifestyle p{
    max-width: 527px;
    width: 100%;
    font-size: 28px;
    line-height: 1.2;
   }
   .form_content{
    /* border: 1px solid var(--yellow); */
    border-radius: 15px;
    box-shadow: 0 0 3px var(--yellow);
    padding: 15px;
    margin-top: 40px;
   }
   .lifestyle h2{
    max-width: 435px;
    width: 100%;
    font-size: 40px;
    line-height: 1.2;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
   }
  .lifestyle .form-control{
    background: none;
    border: 1px solid var(--yellow);
    border-radius: 15px;
    padding: 15px;
  }
  .form-control::placeholder{
    color: rgb(211, 209, 209);
    font-size: 16px;
  }
  label{
    margin-top: 15px;
  }

   .sign a{
    border-radius: 50px;
    color: white;
    border: 2px solid var(--yellow);
    padding: 10px 31px;
    font-size: 22px;
    text-transform: capitalize;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.827);
   }
   .life-col{
    width: 47.74%;
   }
  
  .life-col2{
    width: 51.30%;
  }
 

   /* ============
   footer
   =============== */
   .footer{
    background-color: rgba(0, 0, 0, 0.844);
    padding-top: 50px;
    padding-bottom: 20px;
    text-transform: capitalize;
    margin: 0 auto;
   }
   .footer a{
    color: white;
   }
   .footer a:hover{
    color: var(--yellow);
   }
   .mainfot{
    display: flex;
    justify-content: space-around;
   }
   .fot2{
    width: 33.05%;
   }
   .fot3{
    width: 9.68%;
   }
   .fot4{
    width: 13.91%;
   }
   .fot5{
    width: 28.39%;
   }
   .fot_para{
    max-width: 468px;
    width: 100%;
    font-size: 23px;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 35px;
    color: rgb(160, 158, 158);
   }
   .fot_icon{
    color: var(--yellow);
   }
   .footer ul li a{
    padding-top: 18px;
    font-size: 18px;
     color: rgb(160, 158, 158);
   }
   /* .footer input{
    display:-moz-inline-stack;
   } */
   .mail{
    background-color:black;
    padding:10px 80px 10px 10px;
    border: 1px solid var(--yellow);
    border-radius: 10px;
    text-transform: capitalize;
   }
   .subs{
    background-color: var(--yellow);
    padding: 8px 15px;
    border-radius: 10px;
   }

     .social_icon{
      margin-left:22%;  
   }
   .fot1 .social_icon a{ 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: 1px solid var(--yellow);
    border-radius: 50px;
    padding: 0;
    margin-top: 80px;
    margin-left: 10px;
   }
   .fot1 .social_icon a img{
    max-width: 22px;
    object-fit: contain;
   }
   .city li a{
   font-family: "Clash";
   font-size: 25px !important;
   margin-top: 15px;
   }
   .city li{
    display: inline-block;
   }

 @media screen and (max-width:1399px) {

    .tes-para2{
        margin-top: 10px;
    }
    .testi_para p{
    font-size: 15px;
}
.testimonial h2{
    font-size: 35px;
}
  .fot1 .social_icon a{
    margin-top: 30px;
 }
 
}  

@media screen and (max-width:1199px) {
 .offer_bt a{
 padding: 8px;
} 
   /* .testi_clint p{
    font-size: 10px;
   } */
    .testi_col,.testi_col2{
        width: 50%;
    }
    .fot2,.fot3,.fot4,.fot5{
    width: 25%;
 }
 
 
}

@media screen and (max-width:991px) {
 .offcanvas {
   flex-direction: column !important;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    padding-top: 70px;
}
.nav_icon2 img{
    display: block;
}
.nav_icon{
    display: none;
}
.capacity h4{
    font-size: 18px;
}
/* p{
    font-size: 16px !important;
} */
h2{
    font-size: 30px;
}
.jet_col,.ser_col,.ser_col2{
    width: 50%;
}
.team1{
    min-height: 640px;
}
/* .testimonial h2{
    font-size: 35px;
} */
.testi_clint p{
    font-size: 12px;
}
/* .testi_para p{
    font-size: 15px;
} */
 .lifestyle h3{
    font-size: 100px;
 }
 .life-col,.life-col2{
    width: 100%;
 }
  .lifestyle p,.pv_jet,h3{
    text-align: center;
    margin: 0 auto;
 }
 .year{
    font-size: 30px;
 }
 .lifestyle p{
    font-size: 20px;
 }
.mainfot{
    flex-direction: column;
}
 .fot2,.fot3,.fot4,.fot5{
    width: 100%;
 }
 .fot_para{
    margin: 0 auto;
 }
.fot1{
    text-align: center;
    margin: 0 auto;
}
 .social_icon{
    text-align: center;
 }
 .last_para{
    text-align: center;
 } 

}

@media screen and (max-width:767px){
 h1{
    font-size: 40px;
 } 
 .title2{
    font-size: 35px;
 } 
 .banner{
   padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    margin: 0 auto;
 }

 .private_jets h2{
    font-size: 35px;
 }
 .ser_img{
    margin-top: 20px;
 } 
 .jet_bt a{
    margin-top: 0;
 }
 .jet_col,.ser_col,.ser_col2,.testi_col,.testi_col2{
   width: 100%;
 }
 .card{
     margin: 0 auto;
     margin-top: 100px;
 }
 .service{
    text-align: center;
    margin: 0 auto;
 }
 .ser_para,.ser_para2{
    font-size: 18px;
 }
 .team h2{
    font-size: 35px;
 }
 .testi_col{
    margin-top: 20px;
 }

 .offer_col{
    margin: 0;
}
 .offer_row2,.offer_row{
    flex-direction: column;
 }
 
 .col{
 padding-top: 10px;
 }
 .fot_para{
    font-size: 18px;
 }
 .sign a,.ban_bt a{
    padding: 8px 15px;
 }
 .subs{
    margin-top: 10px;
 }
 
}
@media screen and (max-width:489px){
.testi_head2{
    font-size: 15px;
}

}